<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

	<title>SMOLGU. ColorLab</title>
	<style type="text/css" media="screen">
	 body {
	   font-family: "Helvetica Neue", "Helvetica", "Arial",sans-serif;
	   display: block;
	   margin: 8px;
	 }
	 p {
	   clear: both;
	 }
  }
	</style>
</head>
<body background="../../static/Images/fon1.jpg" text="black">
<h4>Спасибо за участие!</h4>
<p>Свои пожелания, комментарии и вопросы Вы можете направить по электронной почте руководителю проекта профессору Юлии Грибер по электронному адресу
<a href="mailto:y.griber@gmail.com">y.griber@gmail.com</a>.</p>
<p>Актуальную информацию об этом и других проектах Лаборатории цвета Вы можете
получить на сайте <a href="http://color-lab.org">http://color-lab.org</a>.</p>
<br><br><br>
</body>
</html>

